Repository djeedai/bevy_hanabi, pull requests merged in 2023-07, with the labels that each got.

#193 Fix panic when effect spawned hidden is shown
  CHANGELOG.md
  src/lib.rs
Labels: C - bug, A - testing, A - internal, C - breaking change

#194 Add screen-space size to render modifiers
  CHANGELOG.md
  docs/migration-v0.6-to-v0.7.md
  examples/2d.rs
  examples/activate.rs
  examples/billboard.rs
  examples/circle.rs
  examples/expr.rs
  examples/firework.rs
  examples/force_field.rs
  examples/init.rs
  examples/multicam.rs
  examples/portal.rs
  examples/spawn.rs
  examples/spawn_on_command.rs
  src/lib.rs
  src/modifier/render.rs
  src/render/mod.rs
  src/render/vfx_render.wgsl
Labels: C - bug, C - enhancement, A - modifiers, C - breaking change, A - components

#179 Preparing Changes for Bevy 0.11-dev
  Cargo.toml
  README.md
  examples/2d.rs
  examples/activate.rs
  examples/billboard.rs
  examples/circle.rs
  examples/expr.rs
  examples/firework.rs
  examples/force_field.rs
  examples/gradient.rs
  examples/init.rs
  examples/instancing.rs
  examples/lifetime.rs
  examples/multicam.rs
  examples/portal.rs
  examples/random.rs
  examples/spawn.rs
  examples/spawn_on_command.rs
  examples/visibility.rs
  src/asset.rs
  src/attributes.rs
  src/gradient.rs
  src/graph/expr.rs
  src/graph/mod.rs
  src/lib.rs
  src/modifier/init.rs
  src/modifier/mod.rs
  src/modifier/render.rs
  src/modifier/update.rs
  src/plugin.rs
  src/properties.rs
  src/render/mod.rs
  src/render/shader_cache.rs
  src/render/vfx_render.wgsl
  src/spawn.rs
  src/test_utils.rs
Labels: C - breaking change

#198 Fix equality and hashing of `Value`
  src/graph/mod.rs
Labels: C - bug

#199 Rename `spawn::Value` to `CpuValue` and fix `Hash`
  CHANGELOG.md
  Cargo.toml
  docs/migration-v0.6-to-v0.7.md
  examples/billboard.rs
  examples/circle.rs
  examples/firework.rs
  examples/force_field.rs
  examples/portal.rs
  examples/random.rs
  examples/spawn.rs
  src/lib.rs
  src/modifier/init.rs
  src/modifier/render.rs
  src/spawn.rs
Labels: C - bug, C - breaking change

#201 Delete `DimValue` and `InitSizeModifier`
  CHANGELOG.md
  docs/migration-v0.6-to-v0.7.md
  examples/spawn.rs
  src/lib.rs
  src/modifier/init.rs
  src/spawn.rs
Labels: A - modifiers, C - breaking change

#203 Initialize the age of particles in examples
  examples/2d.rs
  examples/activate.rs
  examples/billboard.rs
  examples/circle.rs
  examples/expr.rs
  examples/force_field.rs
  examples/gradient.rs
  examples/init.rs
  examples/instancing.rs
  examples/lifetime.rs
  examples/multicam.rs
  examples/portal.rs
  examples/random.rs
  examples/spawn.rs
  examples/visibility.rs
  src/lib.rs
Labels: C - bug, A - examples

#204 Upgrade to Bevy 0.11
  Cargo.toml
Labels: C - breaking change

#205 Prerelease fixes for v0.7.0
  Cargo.toml
  examples/2d.rs
  examples/activate.rs
  examples/billboard.rs
  examples/circle.rs
  examples/expr.rs
  examples/firework.rs
  examples/force_field.rs
  examples/gradient.rs
  examples/init.rs
  examples/instancing.rs
  examples/lifetime.rs
  examples/multicam.rs
  examples/portal.rs
  examples/random.rs
  examples/spawn.rs
  examples/spawn_on_command.rs
  examples/visibility.rs
Labels: A - examples

#206 Multi-context modifiers with expression API
  CHANGELOG.md
  Cargo.toml
  README.md
  docs/migration-v0.6-to-v0.7.md
  examples/2d.rs
  examples/activate.rs
  examples/billboard.rs
  examples/circle.rs
  examples/expr.rs
  examples/firework.rs
  examples/force_field.rs
  examples/gradient.rs
  examples/init.rs
  examples/instancing.rs
  examples/lifetime.rs
  examples/multicam.rs
  examples/portal.rs
  examples/random.rs
  examples/spawn.rs
  examples/spawn_on_command.rs
  examples/visibility.rs
  release.md
  src/asset.rs
  src/graph/expr.rs
  src/lib.rs
  src/modifier/accel.rs
  src/modifier/attr.rs
  src/modifier/force.rs
  src/modifier/init.rs
  src/modifier/kill.rs
  src/modifier/mod.rs
  src/modifier/output.rs
  src/modifier/position.rs
  src/modifier/update.rs
  src/modifier/velocity.rs
  src/render/buffer_table.rs
  src/render/mod.rs
  src/render/shader_cache.rs
Labels: C - enhancement, A - examples, A - modifiers, C - breaking change, A - components

#207 Fix window title and log level of all examples
  examples/2d.rs
  examples/activate.rs
  examples/billboard.rs
  examples/circle.rs
  examples/expr.rs
  examples/firework.rs
  examples/force_field.rs
  examples/gradient.rs
  examples/init.rs
  examples/instancing.rs
  examples/lifetime.rs
  examples/multicam.rs
  examples/portal.rs
  examples/random.rs
  examples/spawn.rs
  examples/spawn_on_command.rs
Labels: A - examples

#211 Add `Batcher` utility
  src/attributes.rs
  src/render/batch.rs
  src/render/effect_cache.rs
  src/render/mod.rs
Labels: A - internal

#212 Add local space simulation and `OrientModifier`
  CHANGELOG.md
  Cargo.toml
  examples/billboard.rs
  examples/expr.rs
  examples/init.rs
  examples/multicam.rs
  examples/portal.rs
  src/asset.rs
  src/lib.rs
  src/modifier/mod.rs
  src/modifier/output.rs
  src/render/batch.rs
  src/render/effect_cache.rs
  src/render/mod.rs
  src/render/vfx_indirect.wgsl
  src/render/vfx_init.wgsl
  src/render/vfx_render.wgsl
  src/render/vfx_update.wgsl
Labels: A - internal, C - breaking change, A - components
